<app-top-menu></app-top-menu>
<div class="container">
  <app-filter (filteredRealEstatesEvent)="recieveFilteredRealEstates($event)" *ngIf="_router.url == '/'"></app-filter>
  <app-real-estate-list [realEstates]="realEstates" (selectedRealEstateEvent)="recieveSelectedRealEstate($event)" *ngIf="_router.url == '/'"></app-real-estate-list>
  <app-real-estate-view [realEstateId]="selectedRealEstateId" *ngIf="_router.url == '/real-estate'"></app-real-estate-view>
  <router-outlet></router-outlet>
  <div class="row">
    <ul class="text-center list-inline py-3">
      <li class="list-inline-item">
        <a routerLink="/users" class="btn btn-info">List Users</a>
      </li>
      <li class="list-inline-item">
        <a routerLink="/add-user" class="btn btn-info">Add User</a>
      </li>
    </ul>
  </div>
</div>