<div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5" *ngIf="imagesAdded">
        <h2 class="card-title text-center text-white py-3">{{ realEstate.name }}</h2>
        <div class="card-body" id="realEstateView">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-3"><h5>Cena: {{ realEstate.price }} €</h5></div>
                          <div class="col-md-3"><h5>Kvadratura: {{ realEstate.squareMeters }} m2</h5></div>
                          <div class="col-md-3"><h5>Tip: {{ realEstate.type }}</h5></div>
                          <div class="col-md-3"><h5>Broj Soba: {{ realEstate.rooms }}</h5></div>
                      </div>
                      <br>
                      <h6>Lokacija: {{ realEstate.cityPart.city.name }} > {{ realEstate.cityPart.name }} > {{ realEstate.address }}</h6>
                      <img mat-card-image id="realEstateImage" [src]="realEstate.image.convertedImage" alt="Appartment Image">
                      <div style="margin-left: 40px;">
                        <p>{{ realEstate.description }}</p>
                        <h6>Dodatno:</h6>
                        <p>{{ realEstate.additionalInfo }}</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>