/* You can add global styles to this file, and also import other style files */
#filtersForm{color: white;}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.app-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    background-color: #39a5c6;
}

.menu-item {
    color: white;
}