<br>
<h3>Dodajte slike Vaše nekretnine</h3>
<div>
    <input type="file" (change)="onFileChanged($event)">

    <img [src]="imgURL" height="200" *ngIf="imgURL">
</div>
<br>
<input type="button" class="btn btn-info" (click)="onUpload()" value="Dodaj">
<input type="button" class="btn btn-info" style="margin-left: 15px;" (click)="onFinish()" value="Gotovo">

<hr />

Dodate slike:
<div *ngFor="let convertedImage of convertedImages">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                    <img [src]="convertedImage" class="uploadedImg">
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>