<div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
        <div class="card-body" id="filtersForm">
          <form (ngSubmit)="onSubmit()" #realEstateFilterForm="ngForm" [hidden]="hideFilters">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="service">Trazim?*</label>
                    <select type="text" [(ngModel)]="filter.type"
                      class="form-control"
                      id="type"
                      name="type"
                      required #type="ngModel">
                      <option *ngFor="let type of types" [value]="type">
                        {{type}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="service">Vrsta oglasa:*</label>
                    <select type="text" [(ngModel)]="filter.service" 
                      class="form-control"
                      id="service"
                      name="service"
                      placeholder="Izaberite vrstu oglasa"
                      required #service="ngModel">
                      <option *ngFor="let service of services" [value]="service">
                        {{service}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="city">Izaberite grad*</label>
                    <select type="text" [(ngModel)]="filter.cityId" (change)="onCityChange()"
                      class="form-control"
                      id="city"
                      name="city"
                      required>
                      <option *ngFor="let city of cities" [value]="city.id">
                        {{city.name}}
                      </option>
                      </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="cityPart">Izaberite deo grada</label>
                    <select type="text" [(ngModel)]="filter.cityPartId"
                      class="form-control"
                      id="cityPart"
                      name="cityPart"
                      [disabled]="partsDisabled">
                      <option *ngFor="let cityPart of cityParts" [value]="cityPart.id">
                        {{cityPart.name}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="price">Cena od:</label>
                    <input type="text" [(ngModel)]="filter.priceFrom" 
                      class="form-control"
                      id="priceFrom"
                      name="priceFrom"
                      placeholder="Unesite cenu"
                      #priceFrom="ngModel">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="squareMeters">Kvadratura od:</label>
                    <input type="text" [(ngModel)]="filter.squareMetersFrom" 
                      class="form-control"
                      id="squareMetersFrom"
                      name="squareMetersFrom"
                      placeholder="Unesite kvadraturu"
                      #squareMetersFrom="ngModel">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="rooms">Broj soba od:</label>
                    <input type="text" [(ngModel)]="filter.roomsFrom" 
                      class="form-control"
                      id="roomsFrom"
                      name="roomsFrom"
                      placeholder="Unesite broj soba"
                      #roomsFrom="ngModel">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="price">Cena do:</label>
                    <input type="text" [(ngModel)]="filter.priceTo" 
                      class="form-control"
                      id="priceTo"
                      name="priceTo"
                      placeholder="Unesite cenu"
                      #priceTo="ngModel">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="squareMeters">Kvadratura do:</label>
                    <input type="text" [(ngModel)]="filter.squareMetersTo" 
                      class="form-control"
                      id="squareMetersTo"
                      name="squareMetersTo"
                      placeholder="Unesite kvadraturu"
                      #squareMetersTo="ngModel">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="rooms">Broj soba do:</label>
                    <input type="text" [(ngModel)]="filter.roomsTo" 
                      class="form-control"
                      id="roomsTo"
                      name="roomsTo"
                      placeholder="Unesite broj soba"
                      #roomsTo="ngModel">
                  </div>
                </div>
              </div>
              <button type="submit" [disabled]="!realEstateFilterForm.form.valid"class="btn btn-info">Trazi</button>
              <button type="submit" class="btn btn-info" (click)="showFilters()" [hidden]="hideFilters" style="float: right;">Sakrij Filtere</button>
              <button type="button" class="btn btn-info" (click)="resetFilters()" [hidden]="hideFilters" style="float: right; margin-right: 15px;">Resetuj Filtere</button>
          </form>
          <button type="submit" class="btn btn-info" (click)="showFilters()" [hidden]="!hideFilters" style="float: right;">Prikazi Filtere</button>
          <button type="submit" class="btn btn-info" (click)="resetFilters()" [hidden]="!hideFilters" style="float: right; margin-right: 15px;">Resetuj Filtere</button>
        </div>
      </div>
    </div>
  </div>