<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #realEstateForm="ngForm">
        <div class="form-group">
          <label for="name">Naziv*</label>
          <input type="text" [(ngModel)]="realEstate.name" 
            class="form-control"
            id="name"
            name="name"
            placeholder="Unesite naziv oglasa"
            required #name="ngModel">
        </div>
        <div class="form-group">
          <label for="price">Cena*</label>
          <input type="text" [(ngModel)]="realEstate.price" 
            class="form-control"
            id="price"
            name="price"
            placeholder="Unesite cenu"
            required #price="ngModel">
        </div>
        <div class="form-group">
            <label for="squareMeters">Kvadratura*</label>
            <input type="text" [(ngModel)]="realEstate.squareMeters" 
              class="form-control"
              id="squareMeters"
              name="squareMeters"
              placeholder="Unesite kvadraturu"
              required #squareMeters="ngModel">
          </div>
          <div class="form-group">
            <label for="type">Tip*</label>
            <input type="text" [(ngModel)]="realEstate.type" 
              class="form-control"
              id="type"
              name="type"
              placeholder="Izaberite tip"
              required #type="ngModel">
          </div>
          <div class="form-group">
            <label for="service">Vrsta oglasa*</label>
            <input type="text" [(ngModel)]="realEstate.service" 
              class="form-control"
              id="service"
              name="service"
              placeholder="Izaberite vrstu oglasa"
              required #service="ngModel">
          </div>
          <div class="form-group">
            <label for="city">Grad*</label>
            <select type="text" [(ngModel)]="city" (change)="onCityChange()"
              class="form-control"
              id="city"
              name="city"
              placeholder="Izaberite grad"
              required>
              <option *ngFor="let city of cities" [value]="city.id">
                {{city.name}}
              </option>
              </select>
          </div>
          <div class="form-group">
            <label for="cityPart">Deo grada*</label>
            <select type="text" [(ngModel)]="realEstate.cityPart" 
              class="form-control"
              id="cityPart"
              name="cityPart"
              placeholder="Izaberite deo grada"
              required [disabled]="partsDisabled" #cityPart="ngModel">
              <option *ngFor="let cityPart of cityParts" [value]="cityPart">
                {{cityPart.name}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="heating">Grejanje</label>
            <input type="text" [(ngModel)]="realEstate.heating" 
              class="form-control"
              id="heating"
              name="heating"
              placeholder="Izaberite tip grejanja">
          </div>
          <div class="form-group">
            <label for="floor">Sprat</label>
            <input type="text" [(ngModel)]="realEstate.floor" 
              class="form-control"
              id="floor"
              name="floor"
              placeholder="Izaberite sprat">
          </div>
          <div class="form-group">
            <label for="description">Opis</label>
            <input type="text" [(ngModel)]="realEstate.description" 
              class="form-control"
              id="description"
              name="description"
              placeholder="Opis...">
          </div>
          <div class="form-group">
            <label for="additionalInfo">Dodatne informacije</label>
            <input type="text" [(ngModel)]="realEstate.additionalInfo" 
              class="form-control"
              id="additionalInfo"
              name="additionalInfo"
              placeholder="Unesite dodatne informacije">
          </div>
        <button type="submit" [disabled]="!realEstateForm.form.valid" 
          class="btn btn-info">Dodaj</button>
      </form>
    </div>
  </div>