<mat-toolbar class="app-toolbar">
  <a routerLink="/" class="menu-item">
    <button
      type="button"
      mat-icon-button>
      <mat-icon aria-label="Side nav toggle icon">home</mat-icon><span> SPIS</span>
    </button>
  </a>
  <a routerLink="/add-real-estate" class="menu-item" *ngIf="isLoggedIn && !isAdmin">
    <button
      type="button"
      mat-icon-button style="margin-left: 40px;">
      <mat-icon>add_box</mat-icon><span> Dodaj Nekretninu</span>
    </button>
  </a>
  <a routerLink="/" class="menu-item" style="position: absolute; right: 0px; margin-right: 330px;" *ngIf="isLoggedIn && !isAdmin">
    <button
      type="button"
      mat-icon-button>
      <mat-icon>apartment</mat-icon><span> Moje Nekretnine</span>
    </button>
  </a>
  <a routerLink="/users" class="menu-item" style="position: absolute; right: 0px; margin-right: 350px;" *ngIf="isLoggedIn && isAdmin">
    <button
      type="button"
      mat-icon-button>
      <mat-icon>people</mat-icon><span> Upravljanje Nalozima</span>
    </button>
  </a>
  <a routerLink="/profile" class="menu-item" style="position: absolute; right: 0px; margin-right: 180px;" *ngIf="isLoggedIn">
    <button
      type="button"
      mat-icon-button>
      <mat-icon>account_circle</mat-icon><span> Moj Nalog</span>
    </button>
  </a>
  <a routerLink="/" class="menu-item" style="position: absolute; right: 0px; margin-right: 30px;" *ngIf="isLoggedIn">
    <button
      type="button"
      mat-icon-button style="margin-right: 40px;" (click)="logout()">
      <mat-icon>power_settings_new</mat-icon><span> Odjavi se</span>
    </button>
  </a>
  <a routerLink="/login" class="menu-item" style="position: absolute; right: 0px; margin-right: 140px;" *ngIf="!isLoggedIn">
    <button
      type="button"
      mat-icon-button style="margin-right: 40px;">
      <mat-icon>person_outline</mat-icon><span> Prijava</span>
    </button>
  </a>
  <a routerLink="/register" class="menu-item" style="position: absolute; right: 0px; margin-right: 50px;" *ngIf="!isLoggedIn">
    <button
      type="button"
      mat-icon-button style="margin-right: 40px;">
      <mat-icon>person_add</mat-icon><span> Registracija</span>
    </button>
  </a>
</mat-toolbar>
