<div class="container" *ngIf="!isAdmin">
  <header class="jumbotron">
    <p>Samo Administrator nalogu je dozvoljen pristup!</p>
  </header>
</div>
<div class="card my-5" *ngIf="isAdmin">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Korisnicko ime</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>