<div class="container" *ngIf="currentUser">
    <header class="jumbotron">
      <h3>
        <strong>{{ currentUser.username }}</strong> profil
      </h3>
    </header>
    <p>
      <strong>Email:</strong>
      {{ currentUser.email }}
    </p>
    <p>
      <strong>Broj telefona:</strong>
      {{ currentUser.phoneNumber }}
    </p>
    <!-- <strong>Vrsta naloga:</strong>
    <ul>
      <li *ngFor="let role of currentUser.roles">
        {{ role }}
      </li>
    </ul> -->
    <button class="btn btn-info" style="margin-right: 15px;" (click)="deleteAccount()">Obrisi nalog</button>
    <button class="btn btn-info" (click)="editProfile()">Izmeni profil</button>
  </div>

  <div class="container" *ngIf="!currentUser">
    <header class="jumbotron">
      <span>Morate se ulogovati!</span>
      <a routerLink="/login">
        <button
          type="button"
          mat-icon-button style="margin-right: 50px; margin-left: 20px; color: deepskyblue">
          <mat-icon>person_outline</mat-icon><span> Prijava</span>
        </button>
      </a>
      <a routerLink="/register">
        <button
          type="button"
          mat-icon-button style="margin-right: 40px; color: deepskyblue;">
          <mat-icon>person_add</mat-icon><span> Registracija</span>
        </button>
      </a>
    </header>
  </div>